code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.icon-toggle {
  top: auto;
  right: 3rem;
  font-size: 1.75rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
  transition: transform 0.2s ease;
}
.icon-toggle:hover {
  transform: scale(1.1);
}

/* Smaller screens */
@media (max-width: 768px) {
  .icon-toggle {
    font-size: 2.5rem;
    right: auto;
  }
}

/* Larger screens */
@media (min-width: 992px) {
  .icon-toggle {
    font-size: 1.75rem;
  }
}
